.THIS.slds-grid {
    padding:10px 20px;
}
.THIS .slds-tabs_default__nav {
	border-bottom: 1px solid;
    padding-left: 4em;
    border-color: #e3e5ed;
}
.THIS.tabViewSpin{
    margin-right: 555px;
    /*height: 50px;*/
    margin-top: 185px;
}
.THIS .slds-tabs_default__item {
    font-size: .95rem;
}
.THIS .slds-tabs_default__item:hover:after {
    background-color: rgb(76, 122, 191);
}
.THIS .slds-tabs_default__item.slds-active:after {
    background-color: rgb(76, 122, 191);
}