.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}

.THIS lightning-button-menu {
    display: none;
}

.THIS .slds-icon-utility-chevrondown {
    display: none;
}

.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}