.THIS.preview-container {
	border: 1px solid;
    margin-top: 38px;
    display: flex;
    flex-direction: column;  
    border-color: #e3e5ed;
    position: relative;
    background-color: #f4f6f9;
}
.THIS .petition-preview-header > h1 {
    padding-top: 20px;
    width: 50%;
    float: left;
}
.THIS .petition-preview-header > div {
    padding-top: 20px;
}
.THIS .report-content-container {
    padding-top: 5px;
}
.THIS .report-content-container .report-content {
    cursor: pointer;
    position: relative;
}
.THIS .report-subject {
    width: 50%;
    float: left;
}
.THIS .report-subject h3 {
    font-weight: 600;
}
.THIS .report-caseID h3 {
    font-weight: 600;
}
.THIS .report-categ {
    clear: both;
}
.THIS .report-major-strike {
    width: 50%;
    float: left;
}
.THIS .report-major-strike h3 {
    font-weight: 600;
}
.THIS .report-minor-strike h3 {
    font-weight: 600;
}
.THIS .player-details {
    clear: both;
}
.THIS .petition-actions {
    background-color: #F4F6F9;
    bottom: 28px;
}
.THIS .petition-actions.slds-is-fixed {    
    /*width: calc(100vh - 52vh);*/
    z-index:9;
}
.THIS .petition-actions .petition-actions-header-main .slds-media__figure .slds-icon_container {
    background-color: rgb(118, 128, 136);
    width: 28px;
    height: 28px;
}
.THIS .petition-actions .petition-actions-header-main .slds-media__body .petition-actions-header {
    font-weight:500;
    font-size: 1.25rem;
}
.THIS .petition-actions .petition-actions-header-main .slds-icon_container .slds-icon-text-default {
    fill: rgb(255, 255, 255);
    padding: 2px;
    width: 25px;
    height: 28px;
}
.THIS .notesArea .slds-textarea {
    min-height: 120px;
}
.THIS .image-hide {
    background-color: rgb(216, 221, 230);
    line-height: 44px;
}
.THIS .image-hide > div {
    position: relative;
}
.THIS .image-hide .uiInput--default .form-element__label {
    padding-left: 23px;
}
.THIS .image-hide .uiInput--checkbox input {
    position: absolute;
    left: 0;
    top: 32%;
}
.THIS .actions-buttons .slds-button {
    width: 100%;
}
.THIS.preview-container::-webkit-scrollbar-track {  
    background-color: #f4f6f9;
}
.THIS.preview-container::-webkit-scrollbar
{
	width: 12px;
    background-color: #f4f6f9;
}

.THIS.preview-container::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	background-color: #f4f6f9;
}
.THIS .data-field-label label {
    color: #647797;
}
.THIS .preview-label {
    color: #647797;
}
.THIS .report-subject .slds-form-element__label {
    max-width: 92%;
}

.THIS .report-case-status h3 {
    font-weight: 510;
}

/* newly added */

.THIS .actionButtons {
    width:160px;
}
.THIS .disableButton
{
    opacity: 0.5;
    pointer-events: none;
}

.THIS .heading h2
{
 font-weight: inherit;
    font-size: 1.7em;
}