.THIS.borderStyle {
    border: 1px solid rgb(221, 219, 218);
}
.THIS .billingIconSize{
    width:40px;
}
.THIS .lineHeight{
    line-height:17px;
}
.THIS .fontStyle{
    font-size: 16px;
    color: #2b2826;
}
.THIS .smallFontStyle{
    font-size: 12px; 
    color: #706E6B;
}
.THIS .position-center{
    bottom: 4px;
    position: relative;
}
.THIS .disabled-text{
    color:#d0021b;
}