.THIS .close-icon lightning-primitive-icon svg{
    fill:#FFFFFF;
}
.THIS .modalBody{
    height:30%;
}
.THIS .inputText{
    width:75%;
}
.THIS .copyURL{
    margin-top:23px;
}
.THIS .myClass{
    background-color:#87ceeb;
}