.THIS .backgroundColor{
    background-color:#F3F2F2;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 4px;
}

.THIS .modal-small {
    width: 110%;
    margin: 0 auto;
}

.THIS .modal-small + .slds-backdrop_open,
.THIS .modal-large + .slds-backdrop_open {
    width: 110%;
    margin: 0 auto;
}

.THIS .modal-small .slds-modal__content {
    height: calc(320px - 60px);
}
.THIS .modalBody{
    height:40%;
    overflow:auto;
}
.THIS .widthClass{
    width:110%;
}
.THIS .slds-dropdown-trigger .slds-dropdown {
    max-height: 90px;
    overflow-y: scroll;
}

.THIS .slds-backdrop.slds-backdrop_open {
    z-index: 90;
}