.THIS .top-spacing-medium {
    padding-top : t(spacingMedium)
}

.THIS .bottom-spacing-medium {
    padding-bottom : t(spacingMedium)
}
.THIS .prodCSS{
    font-size: 18px; font-weight: bold;text-transform:uppercase;
}
.THIS .top-spacing-xxsmall {
    padding-top : t(spacingXxSmall)
}
.THIS [role=combobox] input[readonly]{
    color: #706e6b;
}
.THIS .suspendFranchise .slds-modal__content{
   overflow: initial;
}
.THIS .label-tooltip {
    padding-right: 11px;
    min-width: 84px;
    display: inline-block;
}
.THIS .badgecolor{
    background-color:#f5a623;
    color: #ffffff;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
}
.THIS .header {
    color: #706e6b;
}

.THIS .margin-top-less {
    margin-top : -3px;
}

.THIS .fontSize1 {
    font-size : 10px
}

.THIS .fontSize2 {
    font-size : 12px
}

.THIS .fontSize3 {
    font-size : 13px
}

.THIS .fontSize4 {
    font-size : 14px
}

.THIS .select .slds-form-element__label {
    font-size : 10px;
    color: #706e6b;
}

.THIS .product-image {
    width: 84px; 
    height: 120px; 
    float: left;
}

.THIS .gamemodecombo {
    width: 96px;     
}

.THIS .addBtn{
    top:22.25px;
    float:right;
}

.THIS .product-image img {
    border-radius: 5px;
}

.THIS .action-container {
    text-align: right;
}

.THIS .platform-status {
    font-weight: bold;
}

.THIS .No {    
    font-weight: normal !important;
}
.THIS .UP {    
    color: #03c503;
}

.THIS .DOWN {
    color : red;
}
.THIS .no-left-padd-slds-col .slds-col {
    padding-left: 0 !important;
}